---
- name: Configure VPC 
  hosts: localhost

  tasks:
    - name: Create AWS VPC {{ ec2_name_prefix }}-vpc
      amazon.aws.ec2_vpc_net:
        name: "{{ ec2_name_prefix }}-vpc"
        cidr_block: "{{ ec2_subnet }}"
        region: "{{ ec2_region }}"
        tags:
          demo_name: "{{ ec2_name_prefix }}"
          